body {
  color: white;
  background: black url("../images/nightBottles.png");
  font-family: verdana, arial, sans-serif;
}

/* Main hero content */
main {
  display: block;
  position: relative;
  min-height: 600px;
  min-width: 400px;
  background: gray center 100%;
  padding: 20px;
  margin: 0 175px;
  border-radius: 34px;
  text-align: center;
}

#color-square {
  min-width: 100px;
  min-height: 100px;
}

h1 {
  height: 100px;
  font-family: georgia, times-new-roman, serif;
}

h2 {
  font-family: georgia, times-new-roman, serif;
}

h3 {
  background-color: gray;
  text-transform: uppercase;
}

p {
  color: #000;
}

a {
  color: rgb(140 0 255);
}

a:hover {
  color: white;
}

#ounceAdd {
  display: none;
}

#milliliterAdd {
  display: none;
}

#alertBox {
  min-width: 100%;
  min-height: 300px;
  text-align: center;
  background-color: red;
  font-weight: bold;
  font-size: larger;
  display: none;
  border-radius: 34px;
  margin: 15;
}

/* Sliders div */
#settings {
  margin-left: 90%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Radio buttons div */
#custom-time-div {
  display: none;
  margin-bottom: 1em;
}

#radio-form {
  margin: 0 auto;
  width: fit-content;
  text-align: left;
  margin-bottom: 1em;
}

label {
  color: #000;
}

/* benefits container */
.container {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.container .box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(400px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  font-size: 25px;
}

.container .box .content {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  font-size: 12px;
}

.container .box:hover .content {
  top: 100px;
  opacity: 1;
}

.container .box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

.container .box .content p {
  margin: 0;
  padding: 0;
  color: #000;
}

.container .box:nth-child(1) {
  background: white;
}

/* Progress bar */
#progress-status {
  width: 100%;
  background-color: #ddd;
  border-radius: 34px;
  margin: 15;
}

#progress-bar {
  width: 0%;
  height: 35px;
  background-color: #3b3da5;
  line-height: 32px;
  border-radius: 25px;
  margin-top: 3em;
}

footer {
  font-size: 0.7em;
  margin-top: 5em;
}
